* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #121618;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    color: lighten(black, 50%);
    background: url("../images/bg_4.jpg") no-repeat fixed;
    background-size: cover;
    overflow-x: hidden;
}

/*navigation bar styling*/
.navbar {
    justify-content: space-between;
    display: flex;
    vertical-align: top;
    width: 100%;
}

header.logo {
    float: left;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    height: 40px;
    line-height: 50px;
    padding: 1rem;
    text-decoration: none;
}

.navbar-links li a:hover {
    color: crimson;
    cursor: pointer;
}

.navbar-links li a:hover::before {
    background-image: url("../images/bg-9.webp");
    background-repeat: no-repeat;
    content: "";
    background-size: 50%;
    width: 100px;
    height: 100px;
    right: -57px;
    position: absolute;

}

@media (max-width:500px) {
    .nav-toggle {
        display: flex;
    }

    .navbar-links {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

}

/*styling section about*/
span {
    color: lighten(black, 75%);
}

span a {
    transition: .3s all ease;
    color: #fac564;
}

span a:hover:active:focus {
    color: #fac564;
    outline: none;
    text-decoration: none;
}

.text-primary {
    color: #fac564;
}

.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}

#section1 {
    background-image: url("../images/bg_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.slider-item {
    background-image: url("../images/bg_3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: .1;
}

.slider-text {
    color: blanchedalmond;
    text-align: right;
}

h1 {
    font-family: 'Josefin Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 1px;
}

.breadcrumbs {
    text-transform: uppercase;
    font-size: 5px;
    letter-spacing: 1px;
}

.bread-item {
    background-position: center center;
}

.slider-text {
    height: 300px;
}

.breadcrumbs a {
    color: blue;
}

/*styling section intro*/
.wrap {
    width: 100%;
}

.info {
    background-color: black;
    padding: 30px;
    width: 65%;
}

.info p {
    margin-bottom: 0;
}

.social {
    width: 40%;
    background-color: yellow;
}

.social-icon {
    margin: 0;
    padding: 0;
}

.social-icon li {
    list-style: none;
    display: inline-block;
    line-height: 0;
    padding: 0 10px;
}

.social-icon a {
    display: block;
    margin: 0;
    padding: 0;
}

.social-icon span {
    color: white;
    font-size: 20px;
}

h3 {
    font-size: 10px;
    color: blue;
}

.text {
    width: 65%;
    color: snow;
}

.icon {
    width: 40px;
}

.icon span {
    color: orange;
    font-size: 20px;
}

.one-half {
    color: snow;
    padding: 30px 15px;
    padding: 5%;
    width: 50%;

}

.one-half img {
    display: block;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*styling menu section*/

#section2 {
    background-image: url("../images/bg_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#section2a {
    background-color: #121618;
    height: -100vh;
}

h2 {
    color: black;
    font-size: 50px;
    font-weight: bold;
}

h4 {
    color: cyan;
}

#section2 p {
    padding: 15px;
    font-size: large;
    color: azure;
}

.container-fluid {
    width: 100%;
}

.column {
    float: left;
    width: 30%;
    padding: 8px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .col {
        width: 100%;
    }
}

/* Create five equal columns that floats next to each other */
.col {
    float: left;
    width: 20%;
    padding: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*styling button*/
.price {
    width: 50px;
    color: blanchedalmond;
    font-size: 5px;
}

.price span {
    color: blanchedalmond;
    font-size: 20px;
}

.btn {
    cursor: pointer;
    border-radius: 0;
    box-shadow: blanchedalmond;
    font-size: 20px;
}

.btn:hover,
:active,
:focus {
    color: crimson;
}


.initiallyHidden {
    display: none;
}

.menu {
    margin-left: 20px;
}

.footer-img {
    background-image: url("../images/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
}


/*styling billing/checkout*/

#section3 {
    background-image: url("../images/b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.slider-item {
    background-image: url("../images/bg_3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.services {
    background: url("../images/food.png") repeat;

}

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: #121618;
    opacity: 0;
}


.services .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.services .icon:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    border: 1px solid darken(#121618, 30%);
    z-index: -1;
}

span {
    font-size: 60px;
    color: darken(#121618, 50%);
    z-index: 1;
}

.media-body {
    color: darken(#121618, 50%);
}

.media-body:hover.icon span {
    color: darken(#121618, 90%);
    color: white;
}

.media-body:hover.icon span:after {
    border: none;
    transform: rotate(135deg);
    background: #f8b500;
}

.services-wrap {
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.img,
.text {
    width: 50%;
}

.img {
    display: block;
}

.text {
    background: rgba(0, 0, 0, .2);
    position: relative;
}

.text h3 {
    font-size: 20px;
}

.price {
    font-size: 16px;
    margin-bottom: 0;
}

span {
    color: #121618;
}

.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    width: 100%;
    height: 270px;
}

.block-23 ul {
    padding: 0;
}

.block-23 ul li>a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
}

.block-23 ul li span {
    color: rgba(white, .7);
}

.block-23 ul li .icon,
.text {
    display: table-cell;
    vertical-align: top;
}

.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: rgba(white, 1);
}

.contact-section.contact-info p span {
    color: white;
}


.contact-form.form-group {
    position: relative;
}

.contact-form .form-control {
    border: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
    height: 58px;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    color: rgba(255, 255, 255, .9);
    font-size: 13px;
    border-radius: 0px;
    box-shadow: none;
}

.contact-form .form-control:focus,
:active {
    border-color: #121618;
}


.contact-form.form-control textarea {
    height: inherit;
}

.block-9.form-control {
    color: aliceblue;
    outline: none;
    box-shadow: none;
    font-size: 10px;
}

.block-9 span {
    color: white;
    font-size: 20px;
}